---
---

@import "{{ site.theme }}";

/* Shorter header */
.page-header {
  padding: 1.5rem 2rem !important;
  text-align: center !important;
}

/* Slightly smaller title */
.project-name {
  font-size: 2.4rem !important;
}

/* Smaller buttons */
.btn {
  padding: 0.35rem 0.8rem !important;
  font-size: 0.75rem !important;
}


